html, body{
  height: 100%;
}

.game-container{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.game-list-container{
  width: 20%;
  text-align: center;
}

.game-list-container ul{
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.game-container img{
  width: 5em;
}
nav .log-out{
  position: absolute;
  right: 0;
  display: flex;
  color: ghostwhite;
}

nav{
  background-color: rgb(46, 46, 46);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
  display: flex;
}

nav div div{
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: ghostwhite;
}

.home-container{
  display: flex;
  margin-top: 50px;
}

.home-container2{
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 15px;
}
table th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
table td {
  border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tr:last-of-type {
  border-bottom: 2px solid #009879;
}